body{
  background-color: #cbb0c6;
}
.funny{
  
  display: flex;
  padding: 10px;
  background: linear-gradient(#ea8d8d, #a890fe);
    border-radius: 50ex;
    height: 70px;
   margin: 30px;
   
 }

 .dropdown {
  color: beige;
  margin-left: 100px;
  flex-grow: 8;
  border-radius:1000px;
  height: 50px;
   cursor: pointer;
 }
 .hometab::after{
  background-color: #615e5e;
  margin-left: 100px;
  flex-grow: 8;
  border-radius:10px ;
  cursor: pointer;
 }


 .dropdown > button {
  
  padding: 10px;
   width: 140px;
   height: 50px;
   border: 0;
   border-radius: 6px;
   font-family: inherit;
   font-size: 17px;
   background: #615e5e;
 }

 .dropdown > .content {
   position: absolute;
   z-index: 2;
   top: 0;
   left: 20px;
   width: 0%;
   height: 60px;
   padding: 0 16px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   color: #f7f7f7;
 }

 .dropdown > .content::after {
   content: "";
   position: absolute;
   bottom: 6px;
   right: 10%;
   width: 70%;
   height: 1px;
   transform: scaleX(0);
   background: rgb(255 255 255 / 30%);
   transition: 0.3s;
 }

 .dropdown:hover > .content::after {
   transform: scaleX(1);
 }

 .dropdown > .content > span:first-child {
   font-size: 20px;
 }

 .dropdown > .content > span:last-child {
   margin-left: auto;
 }

 .dropdown > .content > span:last-child {
   transition: 0.3s;
 }

 .dropdown:hover > .content > span:last-child {
   rotate: -180deg;
 }

 .dropdown > .menu {
  margin: 60px;
   position: absolute;
   z-index: 1;
   top: -6px;
   left: 50%;
   display: grid;
   width: 200px;
   padding: 10px;
   border-radius: 6px;
   translate: -50% 0;
   visibility: hidden;
   opacity: 0;
   scale: 0.85;
   background: linear-gradient(#ea8d8d, #a890fe);
   transition: 0.3s;
 }

 .dropdown:hover > .menu {
  
   visibility: visible;
   opacity: 1;
   scale: 1;
 }

 .dropdown > .menu > a {

   display: flex;
   align-items: left;
   gap: 10px;
   color: #f7f7f7;
   font-size: 14px;
   padding: 0 24px;
 }

 .dropdown > .menu > a:hover {
   background: rgb(0 0 0 / 10%);
 }

 .dropdown > .menu > a > span {
   font-size: 20px;
 }
 .container2{
  display: flex;
  flex-direction: column;
  margin-left: 60px;
 }
 .round-image-container {
  width: 150px; /* Set the container width */
  height: 150px; /* Set the container height */
  overflow: hidden; /* Hide any content that exceeds the container size */
  border-radius: 50%; /* Create a circular container */
}

.round-image {
  width: 100%; /* Make the image fill the container */
  height: 100%;
  object-fit: cover; /* Scale the image to cover the container while preserving aspect ratio */
}
.skills{
  border-radius: 50%;
  margin-left: -50px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}